{% extends "groups/group_base.html" %}
{% block pregroup %}
    <div class="content col-md-4">
    <h1>{{group.name}}</h1>
    <h5 class>Member Count: {{group.members.count}}</h5>
    </div>
    <div class="content col-md-4">

        {% if user in group.members.all %}
            <a href="{%url "groups:leave" slug=group.slug %}" class = "btn btn-lg btn-fill btn-warning">Leave</a>
        {% else %}
            <a href="{%url "groups:join" slug=group.slug %}" class = "btn btn-lg btn-fill btn-success">Join</a>
        
        {%endif%}

    </div>
{% endblock %}

{% block group_content %}
<div class = "col-md-8">
    {% if group.posts.count == 0 %}
    <h2>No Posts in this group yet</h2>
    {% else %}
        {% for post in group.posts.all %}
            {% include "posts/_post.html" %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}